@using BitUiNavigation.Client.Pages.Modal.Abstract
@using BitUiNavigation.Client.Pages.Modal.Providers
@inherits TimeWarpStateComponent
@inject IServiceProvider ServiceProvider
@inject NavigationManager NavManager
@inject IModalProviderSource ModalProviderSource
@inject ILogger<ModalHost> Logger
@implements IDisposable

@if (_activeModalProvider is not null)
{
    <BitDialog IsBlocking IsOpen="@(_state.ShowResult)">
        <ChildContent>
            <div>
                shit
            </div>
        </ChildContent>
    </BitDialog>
    <BitModal IsOpen="true"
              OnOverlayClick="@TryCloseAsync"
              OnDismiss="@TryCloseAsync"
              Classes="@ClassStyles">

        <BitStack Horizontal Gap="0rem" Style="height: 100%">
            <BitStack Class="nav-panel" FitWidth Style="border-top-left-radius:20px; border-bottom-left-radius:20px;">
                <BitButton Style="margin: 1rem 0 0 1rem"
                           Color="BitColor.Tertiary"
                           OnClick="@TryCloseAsync"
                           IconOnly
                           Size="BitSize.Small"
                           IconName="@BitIconName.ChromeClose"
                           Variant="BitVariant.Text" />
                <NavSections NavSectionDetails="@(_state.NavSections)" />
            </BitStack>


            <div style="flex:1;display:flex;flex-direction:column;height:100%">
                <div style="flex-shrink:0;border-top-right-radius:20px;">
                    <BitStack Horizontal HorizontalAlign="BitAlignment.SpaceBetween" Class="sticky-header" Style="padding: 0.75rem 1rem;">
                        <BitText Style="font-weight:600;">@(_state.Title)</BitText>

                        @* @if (_saveReset?.IsDirty == true)
                        {
                        var isBusy = _state.IsSaving || _state.IsResetting;

                        <BitStack Horizontal Gap="0.5rem">
                            @if (_ac.CanReset)
                            {
                            <BitButton OnClick="@OnResetClicked"
                                       IsEnabled="@(!isBusy)"
                                       IconName="@BitIconName.Reset"
                                       Color="BitColor.Primary">
                                Reset
                            </BitButton>
                            }

                            @if (_saveReset.CanSave)
                            {
                            <BitButton OnClick="@OnSaveClicked"
                                       IsEnabled="@(!isBusy)"
                                       IconName="@BitIconName.Save"
                                       Color="BitColor.Primary">
                                Save
                            </BitButton>
                            }
                        </BitStack>
                        } *@
                    </BitStack>
                </div>

                <BitSeparator Border="BitColorKind.Tertiary" />

                @if (_providerValidationMessages?.Count > 0)
                {
                    <BitText Style="padding:0 1rem; font-weight:600;" Color="@BitColor.Info">
                        Please resolve these issues:
                    </BitText>
                    <BitMessage Multiline Style="width: auto; margin: 0rem 1rem;" Color="@BitColor.Error">
                        <ul style="margin:0; padding-left:1rem;">
                            @foreach (var msg in _providerValidationMessages)
                            {
                                <li>@msg</li>
                            }
                        </ul>
                    </BitMessage>
                }

                <div style="flex:1;overflow:hidden;border-bottom-right-radius:20px;position:relative;">
                    <div style="height:100%;overflow-y:auto;">
                        <div style="padding:1rem;">
                            <CascadingValue TValue="@ModalContext" Value="@_ctx">
                                <RouteView @key="_panelName"
                                           RouteData="@_activeModalProvider.BuildRouteData(_panelName)"
                                           DefaultLayout="@typeof(EmptyLayout)" />

                            </CascadingValue>
                        </div>
                    </div>
                </div>
            </div>
        </BitStack>
    </BitModal>
}

<style>
    @((MarkupString)CreateContainerCss())

    .nav-panel {
        background-color: var(--bit-clr-bg-sec);
    }

    .nav-item-container {
        border-radius: 12px !important;
        margin-bottom: 4px !important;
        height: 18px !important;
    }

    .nav-selected-item-container {
        border-color: transparent !important;
    }
</style>


